@import url('../fonts/fonts.css');

footer{
    padding: 10px 0;
    margin: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.to-do-footer-paragraph{
    text-align: center;
    font-family: "Custom_Poppins";
    font-size: 12px;
}