/* Importing custom fonts */
@import url('../fonts/fonts.css');

/* Styling for the footer */
footer {
    bottom: 0;
    margin: 0;
    padding: 10px 0;
    position: absolute;
    width: 100%;
}

/* Styling for footer paragraph */
.to-do-footer-paragraph {
    font-family: "Custom_Poppins";
    font-size: 12px;
    text-align: center;
}
