@import url(../fonts/fonts.css);

footer{
    padding: 0;
    margin: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    font-size: 12px;
    font-family: "Custom_Gelion";
}