@import url('../fonts/fonts.css');

/* 
  Multiple same attributes
*/
.to-do-delete-button, .to-do-modal-close-button, .to-do-menu-button, .to-do-edit-button{
  position: absolute;
  font-family: "Custom_Gelion_Bold";
}

.to-do-delete-button,.to-do-modal-close-button, .to-do-menu-button, .to-do-edit-button{
  border: none;
  outline: none;
  transition: all 0.5s ease-in-out;
}

/* 
  Delete Button
*/

.to-do-delete-button{
    top: 80%;
}

/* 
  Menu Button
*/

.to-do-menu-button.open, .to-do-menu-button.closed{
  right: 5%;
}

.to-do-menu-button{
  flex-direction: column;
  padding: 10px;
  top: 2%;
}

/* 
  Modal Button
*/

.to-do-modal-close-button, .to-do-menu-button{
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.to-do-modal-close-button{
  right: -10px;
  top: -10px;
}

.to-do-modal-close-button:hover, .to-do-edit-button:hover{
  box-shadow: -2px -2px 6px rgba(255, 255, 255, .5),
              -2px -2px 4px rgba(255, 255, 255, 1),
              2px 2px 2px rgba(165, 55, 253, 0.05),
              2px 2px 4px rgba(165, 55, 253, 0.1);
}
.to-do-modal-close-button:active, .to-do-edit-button:active{
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 1),
              inset -2px -2px 4px rgba(255, 255, 255, 1),
              inset 2px 2px 2px rgba(255, 255, 255, .075),
              inset 2px 2px 4px rgba(0, 0, 0, .15);
}

/* 
  Edit Button
*/

.to-do-edit-button{
  width: 100px;
  height: 20px;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(165, 55, 253, 1);
  color: white;
  border-radius: 5px;
}