/* 
    Menu Symbol Styles 
    - Defines styles for menu symbol elements.
    - Includes width, height, background color, margin, border radius, and transition effects.
*/
.to-do-menu-symbol {
  width: 15px;
  height: 20px;
  background-color: #000;
  margin: 1px 0;
  border-radius: 30px;
  transition: all 0.4s ease-in-out;
}

/* 
  Adjustments for Specific Child Elements 
  - Styles for specific child elements of the menu symbol.
*/
.to-do-menu-symbol:nth-child(1),
.to-do-menu-symbol:nth-child(3) {
  width: 10px;
}

/* 
  Open State Adjustments 
  - Styles for menu symbol elements in the open state.
*/
.open .to-do-menu-symbol:nth-child(1),
.open .to-do-menu-symbol:nth-child(3) {
  width: 8px;
}

.open .to-do-menu-symbol:nth-child(1) {
  transform: rotate(45deg) translate(-1px, 2px);
}

.open .to-do-menu-symbol:nth-child(2) {
  transform: rotate(-45deg);
}

.open .to-do-menu-symbol:nth-child(3) {
  transform: rotate(45deg) translate(2px, -3px);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* Adjust styles for small devices here */

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* Adjust styles for medium devices here */

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* Adjust styles for large devices here */

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Adjust styles for extra large devices here */
}