/* 
    Modal Styles 
    - Defines styles for modal elements.
    - Includes border radius, padding, and transition effects.
*/
.to-do-modal {
    border-radius: 10px;
    padding: 5px 10px;
    transition: all 0.5s ease-in-out;
}

/* 
    Modal Hover Styles 
    - Styling for hover effects on modal elements.
*/
.to-do-modal:hover {
    box-shadow: 0px 5px 5px 0px rgba(165, 55, 253, 0.1);
    transition: all 0.5s ease-in-out;
}

/* 
    Modal Active Styles 
    - Styling for active state of modal elements.
*/
.to-do-modal:active {
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 1),
                inset -2px -2px 4px rgba(255, 255, 255, 1),
                inset 2px 2px 2px rgba(255, 255, 255, .075),
                inset 2px 2px 4px rgba(0, 0, 0, .15);
    transition: all 0.5s ease-in-out;
}
