@import url("../fonts/fonts.css");
@import url("../animations/animations.css");

.to-do-main-text-input, .to-do-main-text-input-form, .to-do-menu-text-input-form, .to-do-menu-text-input, .to-do-edit-text-input-form,.to-do-edit-text-input{
    position: absolute;
}

input::selection, input::-moz-selection, input::-webkit-selection{
    color: white;
    background-color: rgba(165, 55, 253, 0.3);
}

.to-do-edit-text-input,.to-do-main-text-input,.to-do-menu-text-input{
    font-size: 12px;
    border: 1px solid rgba(189, 195, 199, 0.8);
    outline: medium;
    border-radius: 5px;
    font-family: "Custom_Gelion";
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.to-do-menu-text-input-form, .to-do-edit-text-input-form{
    width: 100%;
}

.to-do-main-text-input-form{
    width: 50%;
}

.to-do-main-text-input, .to-do-main-text-input-form{
    top: 12%;
}

.to-do-main-text-input{
    width: 100%;
    padding: 5px 0px 5px 10px;
}

.to-do-menu-text-input-form{
    top: 10%;
    z-index: 0;
}

.to-do-menu-text-input{
    left: 5%;
    width: 80%;
    font-size: 10px;
    padding: 5px 0px 5px 10px;
}

.to-do-edit-text-input, .to-do-edit-text-input-form{
    top: 10%;
}

.to-do-edit-text-input{
    width: 85%;
    padding: 2.5px 5px;
    left: 5%;
}

.to-do-menu-text-input-form.open, .to-do-menu-text-input.open{
    animation: 2s ease 0s normal forwards 1 fadein;
}