.to-do-menu-nav-list
    position: absolute
    width: 100%
    top: 23%

.to-do-menu-nav-list-item
    list-style-type: none
    width: 90%
    border-radius: 5px
    margin-left: 5px
    padding: 3px 3px 3px 10px
