
/*
    Display Container CSS
*/
.to-do-display-container{
    width: 75%;
    /* border: 1px solid black; */
    position: absolute;
    left: 25%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    /* display: inline-block; */
    height: 100%;
    transition: all 0.5s ease-in-out;
}

.to-do-text-display-container.closed{
    width: 95%;
    min-height: 300px;
    position: absolute;
    top: 55%;
    /* border: 1px solid black; */
    transform: translate(0, -50%);

}

.to-do-text-display-container.open{
    width: 50%;
    min-height: 300px;
    position: absolute;
    top: 55%;
    /* border: 1px solid black; */
    transform: translate(0, -50%);
}

/* 
    Main Container CSS
*/
.to-do-main-container{
    width: 90%;
    min-height: 450px;
    display: inline-block;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 25px 7px rgba(165, 55, 253, 0.1);
    transition: all 0.5s ease-in-out;
    z-index: 0;
}

.to-do-main-container:hover{
    box-shadow: 0px 1px 25px 7px rgba(165, 55, 253, 0.3);
    transition: all 0.5s ease-in-out;
}

/* 
    Menu Container CSS
*/
.to-do-menu-container{
    width: 20%;
    min-height: 425px;
    position: absolute;
    border-radius: 10px;
    top: 2.5%;
    left: 2.5%;
    float: left;
    transition: all 0.5s ease-in-out;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.closed{
    width: 3%;
}

.to-do-menu-container:hover{
    box-shadow: 0px 10px 20px 7px rgba(165, 55, 253, 0.1);
    transition: all 0.5s ease-in-out;
}

/* 
    Modal Container CSS
*/
.to-do-modal-container{
    width: 300px;
    background-color: white;
    border-radius: 10px;
    min-height: 400px;
    position: absolute;
    right: -85%;
    z-index: 9;
    top: -25%;
    transition: all 0.5s ease-in-out;
}

.to-do-modal-container:hover{
    box-shadow: 0px 10px 20px 7px rgba(165, 55, 253, 0.1);
}

.to-do-close-symbol:nth-child(1),.to-do-close-symbol:nth-child(2) {
    width: 15px;
    height: 1px;
    position: absolute;
    z-index: 3;
    background-color: #000;
    transition: all 0.4s ease-in-out;
  }
  
.to-do-close-symbol:nth-child(1) {
    transform: rotate(45deg) translate(-6px,4px);
  } 
  
.to-do-close-symbol:nth-child(2) {
    transform: rotate(-45deg) translate(-4px,-6px);
}

.to-do-modal-close-symbol {
    width: 15px;
    height: 20px;
    background-color: #000;
    /* margin: 1px 0; */
    border-radius: 30px;
    /* border: 1px solid #; */
    /* transition: 0.4s; */
  }
  
.to-do-modal-close-symbol:nth-child(1) {
    transform: rotate(45deg) translate(-1px, 2px);
  } 
  
.to-do-modal-close-symbol:nth-child(2) {
    transform: rotate(45deg) translate(2px, -3px);
}
