@import url('../fonts/fonts.css');


.to-do-menu-text-input-form, .to-do-menu-text-input{
    position: absolute;
}
.to-do-menu-text-input-form{
    width: 100%;
    top: 10%;
}

.to-do-menu-text-input{
    left: 5%;
    width: 80%;
    font-size: 10px;
    font-family: "Custom_Gelion";
    outline: medium;
    border: 1px solid rgba(189, 195, 199, 0.8);
    padding: 2.5px 5px;
    border-radius: 5px;
}