/* 
    Gelion Font 
*/
@font-face {
    font-family: "Custom_Gelion";
    src: url('../../../media/fonts/Gelion-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Custom_Gelion_Medium";
    src: url('../../../media/fonts/Gelion-Medium.ttf') format('truetype');
}

@font-face {
    font-family: "Custom_Gelion_Bold";
    src: url('../../../media/fonts/Gelion-Bold.ttf') format('truetype');
}

/* 
    LexendDeca Font 
*/
@font-face {
    font-family: "Custom_LexendDeca";
    src: url('../../../media/fonts/LexendDeca-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Custom_LexendDeca_Black";
    src: url('../../../media/fonts/LexendDeca-Black.ttf') format('truetype');
}

@font-face {
    font-family: "Custom_LexendDeca_Bold";
    src: url('../../../media/fonts/LexendDeca-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "Custom_LexendDeca_Extra_Bold";
    src: url('../../../media/fonts/LexendDeca-Extra-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "Custom_LexendDeca_Extra_Light";
    src: url('../../../media/fonts/LexendDeca-Extra-Light.ttf') format('truetype');
}

@font-face {
    font-family: "Custom_LexendDeca_Semi_Bold";
    src: url('../../../media/fonts/LexendDeca-Semi-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "Custom_LexendDeca_Thin";
    src: url('../../../media/fonts/LexendDeca-Thin.ttf') format('truetype');
}

@font-face {
    font-family: "Custom_LexendDeca_Medium";
    src: url('../../../media/fonts/LexendDeca-Medium.ttf') format('truetype');
}

@font-face {
    font-family: "Custom_LexendDeca_Bold";
    src: url('../../../media/fonts/LexendDeca-Bold.ttf') format('truetype');
}

/* 
    Poppins Font 
*/
@font-face {
    font-family: "Custom_Poppins";
    src: url('../../../media/fonts/Poppins-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "Custom_Poppins_Black";
    src: url('../../../media/fonts/Poppins-Black.ttf') format('truetype');
}

@font-face {
    font-family: "Custom_Poppins_Black_Italic";
    src: url('../../../media/fonts/Poppins-Black-Italic.ttf') format('truetype');
}

@font-face {
    font-family: "Custom_Poppins_Bold";
    src: url('../../../media/fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "Custom_Poppins_Bold_Italic";
    src: url('../../../media/fonts/Poppins-Bold-Italic.ttf') format('truetype');
}

@font-face {
    font-family: "Custom_Poppins_Extra_Bold";
    src: url('../../../media/fonts/Poppins-Extra-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "Custom_Poppins_Extra_Bold_Italic";
    src: url('../../../media/fonts/Poppins-Extra-Bold-Italic.ttf') format('truetype');
}

@font-face {
    font-family: "Custom_Poppins_Extra_Light";
    src: url('../../../media/fonts/Poppins-Extra-Light.ttf') format('truetype');
}

@font-face {
    font-family: "Custom_Poppins_Extra_Light_Italic";
    src: url('../../../media/fonts/Poppins-Extra-Light-Italic.ttf') format('truetype');
}

@font-face {
    font-family: "Custom_Poppins_Italic";
    src: url('../../../media/fonts/Poppins-Italic.ttf') format('truetype');
}

@font-face {
    font-family: "Custom_Poppins_Semi_Bold";
    src: url('../../../media/fonts/Poppins-Semi-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "Custom_Poppins_Semi_Bold_Italic";
    src: url('../../../media/fonts/Poppins-Semi-Bold-Italic.ttf') format('truetype');
}

@font-face {
    font-family: "Custom_Poppins_Thin";
    src: url('../../../media/fonts/Poppins-Thin.ttf') format('truetype');
}

@font-face {
    font-family: "Custom_Poppins_Thin_Italic";
    src: url('../../../media/fonts/Poppins-Thin-Italic.ttf') format('truetype');
}

@font-face {
    font-family: "Custom_Poppins_Medium";
    src: url('../../../media/fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
    font-family: "Custom_Poppins_Medium_Italic";
    src: url('../../../media/fonts/Poppins-Medium-Italic.ttf') format('truetype');
}

@font-face {
    font-family: "Custom_Poppins_Bold";
    src: url('../../../media/fonts/Poppins-Bold.ttf') format('truetype');
}